<app-navbar></app-navbar>

<br><br>
<div class="terms-body">
    <div class="terms-box">
        <div class="terms-text">
            <h2>Terms of service</h2>
            <p>Last edit: 06/04/2024</p>
            <p>Greetings Users,</p>
            <p>AttireAvenue is committed to protecting the privacy and security of your personal information. This
                Privacy Policy outlines our practices regarding the collection, use, and disclosure of your information
                when you use our products, services, and website.</p>
            <p>1. Information We Collect:
                - Personal Information: We may collect personal information such as your name, email address, postal
                address, phone number, and payment details when you register an account, make a purchase, or interact
                with our website.
                - Usage Information: We may collect information about your interactions with our website, such as your
                browsing history, IP address, device information, and location data.
                - Cookies: We use cookies and similar tracking technologies to enhance your browsing experience and
                analyze website traffic. You can choose to disable cookies in your browser settings, but please note
                that certain features of our website may not function properly.
            </p>
            <p>2. How We Use Your Information:
                - Provide Services: We use your information to fulfill your orders, process payments, and deliver
                products/services to you.
                - Improve User Experience: We may use your information to personalize your experience, analyze website
                usage trends, and optimize our website's performance.
                - Marketing: With your consent, we may send you promotional emails, newsletters, and special offers
                about our products/services. You can opt out of marketing communications at any time.
                - Legal Compliance: We may use your information to comply with legal obligations, enforce our terms and
                policies, and protect our rights and interests.
            </p>
            <p>3. Information Sharing:
                - Third-Party Service Providers: We may share your information with trusted third-party service
                providers who assist us in delivering products/services, processing payments, and performing other
                business functions.
                - Legal Requirements: We may disclose your information in response to lawful requests by public
                authorities, court orders, or legal proceedings.
                - Business Transfers: In the event of a merger, acquisition, or sale of assets, your information may be
                transferred to the acquiring entity as part of the transaction.
            </p>
            <p>
                4. Data Security:
                - We implement appropriate security measures to protect your information against unauthorized access,
                alteration, disclosure, or destruction.
                - However, please be aware that no method of transmission over the internet or electronic storage is
                100% secure, and we cannot guarantee absolute security of your information.
            </p>
            <p>
                5. Your Rights:
                - You have the right to access, update, or delete your personal information stored in our systems. You
                can also request to restrict or object to the processing of your information.
                - If you have any questions or concerns about our Privacy Policy or how we handle your information,
                please contact us using the information provided below.
            </p>
            <p>6. Changes to this Privacy Policy:
                - We reserve the right to update or modify this Privacy Policy at any time. Any changes will be posted
                on our website with a revised effective date. We encourage you to review this Privacy Policy
                periodically for updates.

                By using our products, services, and website, you consent to the collection, use, and disclosure of your
                information as described in this Privacy Policy.

                If you have any questions or concerns about our Privacy Policy or how we handle your information, please
                contact us through <a routerLink="/contactform">here</a>.
            </p>
        </div>
        <br>
        <h4>I Agree to the <span> Terms of Services</span> and I read the Privacy Notice</h4>
        <div class="buttons">
            <button class="btn red-btn" routerLink="/home">Accept</button>
            <button class="btn gray-btn" routerLink="/home">Decline</button>
        </div>
    </div>
</div>
<app-footer></app-footer>