<app-navbar></app-navbar>

<div class="wrapper">
  <div class="product-img">
    <img [src]=" 'data:image/png;base64,' + product.imageUrl" height="420" width="327">
  </div>
  <div class="product-info">
    <div class="product-text">
      <h1>{{product.name}}</h1>
      <h2>{{product.style}}</h2>
      <p>{{product.description}}</p>
    </div>
    <div class="product-price-btn">
      <p><span>{{product.price}}</span>$</p>
      <button type="button" routerLink="/billing" (click)="addToCart(product.id)">buy now</button>
    </div>
  </div>
</div>

<app-footer></app-footer>