<app-navbar></app-navbar>
<div class="container first-container  p-2">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="category mb-30">
                <div class="job">
                    <span class="colors1 mb-4">Technology</span>
                    <h5><a href="#">Tech Lead/Software Engineer</a></h5>
                    <ul class="place">
                        <li>
                            <p><i class="bi bi-geo-alt-fill pe-2"></i> Pune, INDIA</p>
                        </li>
                        <li>
                            <p class="ps-5"><i class="bi bi-geo-alt-fill pe-2"></i>Full Time</p>
                        </li>
                    </ul>
                    <div class="pricing d-flex align-items-center justify-content-between mt-5">
                        <div class="left">
                            <p>AttireAvenue</p>
                        </div>
                        <span class="time">23h ago</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="category mb-30">
                <div class="job">
                    <span class="colors2 mb-4">Operations</span>
                    <h5><a href="#">Operations Manager</a></h5>
                    <ul class="place">
                        <li>
                            <p><i class="bi bi-geo-alt-fill pe-2"></i> Pune, INDIA</p>
                        </li>
                        <li>
                            <p class="ps-5"><i class="bi bi-geo-alt-fill pe-2"></i>Full Time</p>
                        </li>
                    </ul>
                    <div class="pricing d-flex justify-content-between align-items-center mt-5">
                        <div class="left">
                            <p>AttireAvenue</p>
                        </div>
                        <span class="time">4 weeks ago</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="category mb-30">
                <div class="job">
                    <span class="colors3 mb-4">Finance</span>
                    <h5><a href="#">Finance Analyst/Manger</a></h5>
                    <ul class="place">
                        <li>
                            <p><i class="bi bi-geo-alt-fill pe-2"></i> Pune, INDIA</p>
                        </li>
                        <li>
                            <p class="ps-5"><i class="bi bi-geo-alt-fill pe-2"></i>Full Time</p>
                        </li>
                    </ul>
                    <div class="pricing d-flex justify-content-between align-items-center mt-5">
                        <div class="left">
                            <p>AttireAvenue</p>
                        </div>
                        <span class="time">20h ago</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="category mb-30">
                <div class="job">
                    <span class="colors4 mb-4">Human Resources</span>
                    <h5><a href="#">HR Manager/Recruiter</a></h5>
                    <ul class="place">
                        <li>
                            <p><i class="bi bi-geo-alt-fill pe-2"></i> Pune, INDIA</p>
                        </li>
                        <li>
                            <p class="ps-5"><i class="bi bi-geo-alt-fill pe-2"></i>Full Time</p>
                        </li>
                    </ul>
                    <div class="pricing d-flex justify-content-between align-items-center mt-5">
                        <div class="left">
                            <p>AttireAvenue</p>
                        </div>
                        <span class="time">18h ago</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="category mb-30">
                <div class="job">
                    <span class="colors5 mb-4">Marketing/Branding</span>
                    <h5><a href="#">Branding Specialist/Manager</a></h5>
                    <ul class="place">
                        <li>
                            <p><i class="bi bi-geo-alt-fill pe-2"></i> Pune, INDIA</p>
                        </li>
                        <li>
                            <p class="ps-5"><i class="bi bi-geo-alt-fill pe-2"></i>Full Time</p>
                        </li>
                    </ul>
                    <div class="pricing d-flex justify-content-between align-items-center mt-5">
                        <div class="left">
                            <p>AttireAvenue</p>
                        </div>
                        <span class="time">4 days ago</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 mb-5">
            <div class="category mb-30">
                <div class="job">
                    <span class="colors2 mb-4">Customer Success</span>
                    <h5><a href="#">Customer Success Manager</a></h5>
                    <ul class="place">
                        <li>
                            <p><i class="bi bi-geo-alt-fill pe-2"></i> Pune, INDIA</p>
                        </li>
                        <li>
                            <p class="ps-5"><i class="bi bi-geo-alt-fill pe-2"></i>Full Time</p>
                        </li>
                    </ul>
                    <div class="pricing d-flex justify-content-between align-items-center mt-5">
                        <div class="left">
                            <p>AttireAvenue</p>
                        </div>
                        <span class="time">21h ago</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>