<app-navbar></app-navbar>
<div class="container first-container">

  <main class="container">
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
      <div class="col-md-6 px-0">
        <h1 class="display-4 fw-bold">AttireAvenue</h1>
        <h6>The Untold Clothing brand</h6>
        <p class="lead my-3">Fusion of modern style and timeless elegance, offering high-quality, versatile clothing for
          confident, sophisticated individuals in contemporary fashion.</p>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">World</strong>
            <h3 class="mb-0">Vision</h3>
            <div class="mb-1 text-muted">April 26</div>
            <p class="card-text mb-auto">With global recognition and acclaim, Brand essence is Characterized by
              sophistication, modernity, and accessibility, resonating with customers worldwide who value style,
              quality, and convenience. </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-success">Design</strong>
            <h3 class="mb-0">Mission</h3>
            <div class="mb-1 text-muted">April 26</div>
            <p class="mb-auto">AttireAvenue continues to redefine the future of online fashion retailing, shaping
              trends, and setting new standards of excellence.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row g-5">
      <div class="col-md-8">
        <article class="blog-post">
          <h2 class="blog-post-title">Our Story</h2>
          <p class="blog-post-meta">April 21, 2024</p>
          <p>AttireAvenue stands at the forefront of revolutionizing online fashion shopping with its specialized focus
            on shirts, pants, and shoes. Offering a curated selection of high-quality fashion essentials, AttireAvenue
            combines the latest in web development technologies with a keen understanding of user behavior to deliver a
            seamless and engaging shopping experience. Our mission is to empower individuals to express their unique
            style and personality through fashion while providing convenience and accessibility. With an intuitive
            interface, personalized recommendations, and real-time interactions, AttireAvenue caters to fashion-forward
            individuals seeking versatile and on-trend clothing options for various occasions. Our commitment to
            innovation, quality, and customer satisfaction sets us apart in the competitive online fashion market,
            inspiring confidence and creativity in our customers as they explore and embrace their individuality through
            AttireAvenue.
          </p>
        </article>

        <article class="blog-post">
          <h2 class="blog-post-title">New feature</h2>
          <p class="blog-post-meta">April 26, 2024</p>
          <p>Stay tuned for exciting updates! We're continuously enhancing our platform, adding innovative features to
            meet your needs. Our commitment to progress means you can expect even more value in the near future. Join us
            on this journey of evolution and empowerment.</p>
          <ul>
            <li>Accessibility Features</li>
            <li>Extended Product Range</li>
            <li>Integration with Physical Stores</li>
          </ul>
        </article>

      </div>

      <div class="col-md-4">
        <div class="position-sticky" style="top: 2rem;">
          <div class="p-4 mb-3 bg-light rounded">
            <h4 class="fst-italic">About</h4>
            <p class="mb-0">Fusion of modern style and timeless elegance, offering high-quality, versatile clothing for
              confident, sophisticated individuals in contemporary fashion.</p>
          </div>

          <div class="p-4">
            <h4 class="fst-italic">Archives</h4>
            <ol class="list-unstyled mb-0">
              <li>April 2024</li>
            </ol>
          </div>

          <div class="p-4">
            <h4 class="fst-italic">Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a class="text-decoration-none" href="https://www.instagram.com/accounts/login/">Instagram</a></li>
              <li><a class="text-decoration-none" href="https://x.com/?lang=en-in">x.com</a></li>
              <li><a class="text-decoration-none" href="https://www.facebook.com/login.php">Facebook</a></li>
            </ol>
          </div>
        </div>
      </div>
    </div>

  </main>
</div>

<app-footer></app-footer>